<?xml version="1.0" encoding= "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<bean name="helloSpring1" class="com.exam.spring01.HelloSpring" scope="prototype">
	<constructor-arg value="헬로우스프링"></constructor-arg>
</bean>


<bean name="helloSpring2" class="com.exam.spring01.HelloSpring" scope="prototype"/>

<bean name="helloSpring3" class="com.exam.spring01.HelloSpring" scope="prototype"> 
	<constructor-arg value="앞글자" />
	<constructor-arg value="뒷글자" />
</bean>


</beans>